<div class="col-xs-5">
    <div class="form-group col-xs-10">
        <label>Indices List</label>
        <select id="data-list" class="form-control">
            {% for index in indices %}
                <option value="{{ index.pk }}"{% if index.selected %} selected{% endif %}>{{ index }}</option>
            {% endfor %}
        </select>
    </div>
</div>

<div class="col-xs-7">
    <p class="text-strong">Index details</p>
    {% for index in indices %}
        <ul class="data-details" data-id="{{ index.pk }}" {% if not index.selected %}style="display: none"{% endif %}>
            <li>
                <strong>Index name</strong>
                {{ index.name }}
                {% if index.selected %}<span class="label label-success">Current</span>{% endif %}
            </li>
            <li>
                <strong>Stop words elimination</strong>
                {{ index.get_stopwords_display }}
            </li>
            <li>
                <strong>Stemming</strong>
                {{ index.get_stemming_display }}
            </li>
            <li>
                <strong>Page rank</strong>
                {{ index.get_pagerank_display }}
            </li>
        </ul>
    {% endfor %}
</div>