{% extends 'home.html' %}

{% block body %}
    <div class="section">
        <h1><i class="glyphicon glyphicon-cloud-download"></i>
            Crawling
            <br/>
            <small>Go through web and get as much as you want!</small>
        </h1>
    </div>

    <div class="section">
        <h2>Current dataset</h2>
        {% if crawls %}
        <div class="row">
            <div class="col-xs-5">
                <ul>
                    <li>
                        <strong>Number of documents</strong>
                        {{ docs }} docs
                    </li>
                    <li>
                        <strong>Dataset space</strong>
                        {{ space }}
                    </li>
                </ul>

                <div class="form-group col-xs-10">
                    <label>Crawl History</label>
                    <select id="data-list" class="form-control">
                        {% for crawl in crawls %}
                            <option value="{{ crawl.pk }}">{{ crawl }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>

            <div class="col-xs-7">
                <p class="text-strong">Crawl details</p>
                {% for crawl in crawls %}
                    <ul class="data-details" data-id="{{ crawl.pk }}" {% if not forloop.first %}style="display: none"{% endif %}>
                        <li>
                            <strong>Crawl time</strong>
                            {{ crawl.datetime | date:"y/m/d - H:i" }}
                            {% if forloop.first %}<span class="label label-success">Newest</span>{% endif %}
                        </li>
                        <li>
                            <strong>Start URL</strong>
                            <a href="{{ crawl.url }}">{{ crawl.url }}</a>
                        </li>
                        <li>
                            <strong>Traversal method</strong>
                            {{ crawl.get_method_display }}
                        </li>
                        <li>
                            <strong>Docs retrieved</strong>
                            {{ crawl.docs }} docs
                        </li>
                    </ul>
                {% endfor %}
            </div>
            <button id="clear-dataset" class="btn btn-danger pull-right" data-url="{% url 'clear' %}">Clear dataset</button>
            <div class="clearfix"></div>
        </div>
        {% else %}
            <p class="text-muted">Dataset is empty.</p>
        {% endif %}
    </div>

    <div class="section">
        <h2>
            Start a crawl
            <br/>
            <small>Add new documents to the current dataset</small>
        </h2>
        <form action="" method="post" class="row">
            <div class="form-group col-xs-6">
                <label for="root">Start URL</label>
                <input class="form-control" type="url" name="root" value="http://en.wikipedia.org/wiki/Information_Retrieval" />
            </div>

            <div class="form-group col-xs-3">
                <label for="max">Number of Documents</label>
                <input class="form-control" type="number" name="max" value="200" />
            </div>

            <div class="clearfix"></div>

            <div class="form-group col-xs-6">
                <label>Traversal Method</label>
                <div class="radio">
                    <label>
                        <input type="radio" name="method" value="BFS" checked />
                        Breath First Search, for close topics and exact search
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" name="method" value="DFS" />
                        Depth First Search, for wide topics and general search
                    </label>

                </div>
            </div>

            <div id="progress-box" class="form-group col-xs-6" style="display: none">
                <label>
                    Crawling the web...
                </label>
                <div>
                    <span id="progress-text">0% (0 docs)</span>
                    <div class="progress">
                        <div id="progress-bar" class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0;"></div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>

            <button id="crawl-start" class="btn btn-primary pull-right" data-url="{% url 'crawl-start' %}" data-progress-url="{% url 'crawl-progress' %}">Start Crawling</button>

        </form>
    </div>
{% endblock %}
