<!DOCTYPE html>
<html>
<head>
    <title>
        Sharif Search Engine
    </title>

    <link rel="stylesheet" href="{{ STATIC_URL }}bootstrap.css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}home.css" />
    {% block css %}{% endblock %}
    <script type="text/javascript" src="{{ STATIC_URL }}jquery-1.10.1.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}bootstrap.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}home.js"></script>
    {% block js %}{% endblock %}
</head>
<body>
    <div id="header">
    {% block header %}
        <div class="title pull-left">
            <img src="{{ STATIC_URL }}images/sharif_logo.png" />
        </div>
        <ul class="nav nav-pills menus">
            <li>
                <a href="{% url 'search' %}">
                    <i class="glyphicon glyphicon-search"></i>
                    Search
                </a>
            </li>
            <li class="separator"><a>|</a></li>
            <li>
                <a href="{% url 'index' %}">
                    <i class="glyphicon glyphicon-list"></i>
                    Index
                </a>
            </li>
            <li class="separator"><a>|</a></li>
            <li>
                <a href="{% url 'crawl' %}">
                    <i class="glyphicon glyphicon-cloud-download"></i>
                    Crawl
                </a>
            </li>
        </ul>
    {% endblock %}
    </div>

    <div id="body">
    {% block body %}
        <div class="search-box">
            <img class="logo" src="{{ STATIC_URL }}images/logo.png" />
            <form action="{% url 'search' %}" method="get">
                <div class="form-group" style="position: relative">
                    <input type="text" name="query" placeholder="What do you need" class="form-control query-box"/>
                    <i id="search-placeholder" class="glyphicon glyphicon-search text-muted"></i>
                </div>
                <!--
                <div class="form-group">
                    <button class="btn btn-primary pull-right">
                        <i class="glyphicon glyphicon-search"></i>
                        Search
                    </button>
                </div>
                -->
            </form>
        </div>
    {% endblock %}
    </div>

    <div id="footer">
    {% block footer %}
    <p class="text-center">
    &copy; Copyright by Hamed Moghimi &amp; Mina Tahmasbi - 2014
    </p>
    {% endblock %}
    </div>
</body>
</html>