{% extends 'home.html' %}

{% block body %}
    <div class="section">
        <h1><i class="glyphicon glyphicon-list"></i>
            Indexing
            <br/>
            <small>Index your data set</small>
        </h1>
    </div>

    <div class="section" id="index-list">
        <h2>Current indices</h2>
        {% if indices %}
            <div class="row">
                {% include '_index-list.html' %}
                <button id="index-select" class="btn btn-primary pull-right" data-url="{% url 'index-select' %}">Select index</button>
            </div>
        {% else %}
            <p class="text-muted">No index found.</p>
        {% endif %}
    </div>

    <div class="section">
        <h2>Create new index</h2>
        <form action="" method="post" class="row">
            <div class="form-group col-xs-6">
                <label for="name">Index name</label>
                <input class="form-control" type="text" name="name" placeholder="type a name for index" />
            </div>

            <div class="form-group col-xs-6">
                <label>Use page rank?</label>
                <div class="radio">
                    <label>
                        <input type="radio" name="pagerank" value="1" checked/> Yes
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" name="pagerank" value="0" /> No
                    </label>

                </div>
            </div>

            <div class="clearfix"></div>

            <div class="form-group col-xs-6">
                <label>Eliminate stop words?</label>
                <div class="radio">
                    <label>
                        <input type="radio" name="stopwords" value="1" checked/> Yes
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" name="stopwords" value="0" /> No
                    </label>

                </div>
            </div>

            <div class="form-group col-xs-6">
                <label>Use stemming?</label>
                <div class="radio">
                    <label>
                        <input type="radio" name="stemming" value="1" checked/> Yes
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" name="stemming" value="0" /> No
                    </label>

                </div>
            </div>

            <div class="clearfix"></div>

            <button id="index-create" class="btn btn-primary pull-right" data-url="{% url 'index-create' %}">Create index</button>

            <p id="success-message" class="message text-success pull-right" style="display: none">New index is created</p>
            <p id="error-message" class="message text-danger pull-right" style="display: none">Index with the same name exists!</p>

        </form>
    </div>
{% endblock %}
