{% extends 'home.html' %}

{% block body %}
    <div class="section">
        <form action="" method="get" class="row search-box-inline">
            <img src="{{ STATIC_URL }}images/logo.png" class="col-xs-2" />
            <div class="col-xs-4">
                <div style="position: relative">
                    <input type="text" name="query" placeholder="What do you need" class="form-control query-box" value="{{ query }}"/>
                    <i id="search-placeholder" class="glyphicon glyphicon-search text-muted"></i>
                </div>
            </div>
            <div class="col-xs-2">
                <button class="btn btn-primary">Search</button>
            </div>
        </form>
    </div>

    <div class="section">

        {% if error %}
            <h3 class="text-center text-danger">
                Sorry, Sharif Search is not available right now!
            </h3>
        {% else %}
        {% for doc in docs %}
            <div class="search-result">
                <a href="{{ doc.url }}">{{ doc.title|safe }}</a>
                <span class="text-success">{{ doc.url }}</span>
                <p class="text-justified">
                    {{ doc.summery|safe }}
                </p>
            </div>
        {% empty %}
            <h2 class="text-center">
            <small>No result found</small>
            </h2>
        {% endfor %}

        {% if docs.paginator.num_pages > 1 %}
        <div class="text-center">
            <ul class="pagination">
                {% if docs.has_previous %}
                    <li><a href="{{ pageLink }}{{ docs.previous_page_number }}">&laquo;</a></li>
                {% endif %}
                {% for i in docs.paginator.page_range %}
                    <li{% if docs.number == i %} class="active"{% endif %}><a href="{{ pageLink }}{{ i }}">{{ i }}</a></li>
                {% endfor %}
                {% if docs.has_next %}
                    <li><a href="{{ pageLink }}{{ docs.next_page_number }}">&raquo;</a></li>
                {% endif %}
            </ul>
        </div>
        {% endif %}
        {% endif %}
    </div>
{% endblock %}