@font-face{
    font-family: "Yekan";
    src: url('fonts/BYekan.eot');
    src:    url('fonts/BYekan.woff') format('woff'),
    url('fonts/BYekan.ttf') format('truetype'),
    url('fonts/BYekan.svg') format('svg');
    font-weight: bold;
    font-style: normal;
}

html{
    background-color: #eeeeee;
}

body{
    width: 1024px;
    margin: 0 auto;
    font-family: Tahoma;
}

#header{
    height: 100px;
    position: relative;
    background-color: #3071a9;
    color: #ffffff !important;
    padding: 13px 0 0 30px;
}

#header > .title{
    font-size: 3em;
}

#body{
    padding: 0 10px;
}

.section{
    border-bottom: 1px solid #eeeeee;
    padding: 0 30px 5px 30px;
}

#footer{
    height: 50px;
    color: #696969;
    font-weight: bold;
    padding-top: 20px;
}

.search-box{
    margin: 173px auto;
    width: 600px;
}

.search-box > .logo{
    display: block;
    margin: 0 auto;
}

.search-box > form{
    margin-top: 20px;
}

.query-box{
    text-indent: 20px;
}

.query-box + .glyphicon{
    position: absolute;
    left: 5px;
    top: 7px;
    font-size: 1.5em;
}

.search-box-inline{
    margin-top: 20px;
}

.search-box-inline > div{
    margin-top: 5px;
}

.menus{
    position: absolute;
    right: 0;
    bottom: 0;
    margin-right: 20px;
}

.nav-pills > li > a{
    border-radius: 0;
    color: #ffffff;
    font-weight: bold;
}

.nav-pills > li > a:hover{
    background-color: inherit;
    color: #ffa500;
}

.nav-pills > li.separator > a:hover{
    color: inherit;
}

i.glyphicon{
    margin-right: 5px;
}

.text-strong{
    font-weight: bold;
}

ul{
    padding-left: 20px;
}

ul > li > strong{
    display: inline-block;
    width: 170px;
    vertical-align: baseline;
}

.radio{
    margin-top: 0;
}

.search-result{
    width: 70%;
    margin-top: 20px;
    font-size: 1.1em;
}

.search-result > a{
    font-size: 1.2em;
    display: block;
    margin-bottom: 5px;
}

.text-justified{
    text-align: justify;
}

.message{
    line-height: 34px;
    margin: 0;
    margin-right: 20px;
}